h3 {
  color: #2e7e03;
} /* for all h3*/
h4 {
  color: maroon;
} /* for all h4*/
body {
  background-color: #10151b;
} /* for entire body*/
p,
li {
  color: black;
} /* for scheme matter and lists*/

h1 {
}

a {
  color: darkblue;
}
a:hover {
  color: red;
  text-decoration: none;
}

.entire {
  padding: 0px;
  border: 0px solid black;
  margin-left: 100px;
  margin-right: 100px;
}

.boxx {
  border: 4px;
  border-color: rgb(46, 7, 85);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: white;
}

.video {
  padding-left: 350px;
}

body {
  height: 2000px;
  position: relative;
}

.intro-copy {
  padding: 1em;
  margin: 50vh auto;
  max-width: 11em;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
}

.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;

  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 80px;
  height: 80px;
  background-color: #f8f8f8;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  &:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000; /* Above WP toolbar*/
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
  }
}

/* ==============================
  6. header styles
============================== */

#header {
  background: #2f2f2a;
  padding: 35px 0;
  position: relative;
}
#header .logo {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

  width: 100%;
  text-align: center;
  display: inline-block;
}
#header .header-info {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#header .thm-container {
  position: relative;
  z-index: 99;
}
#header:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  bottom: 8px;
  right: 0;

  background: #13314c url(../images/vi.jpeg) center center no-repeat;
  background-size: cover;
}
/*background-color: #0cafd2;*/
/* } */
#header:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  bottom: 9px;
  right: 0;
  /*background-color: #0cafd2;*/
  background: #13314c url(../images/14.png) center center no-repeat;
  background-size: cover;
}
.header-info {
  padding: 4px 0;
}
.header-info .info-box {
  display: table-cell;
  vertical-align: middle;
  padding-right: 30px;
}
.header-info .info-box:last-child {
  padding-right: 0;
}
.header-info .info-box .icon-box,
.header-info .info-box .text-box {
  display: table-cell;
  vertical-align: middle;
}
.header-info .info-box .icon-box {
  padding-right: 20px;
}
.header-info .info-box .icon-box i {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  top: 5px;
  border-left: 1px solid #435a6e;
  padding-left: 30px;
}
.header-info .info-box .icon-box i:before {
  margin: 0;
  font-size: 30px;
}
.header-info .info-box .social-icons {
  font-size: 0;
  margin-left: -7.5px;
  margin-right: -7.5px;
  line-height: 6px;
  margin-top: 5px;
}
.header-info .info-box .social-icons li {
  display: inline-block;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.header-info .info-box .social-icons li a {
  display: block;
  font-size: 15px;
  color: #d4d4d4;
}
.header-info .info-box .social-icons li a:hover {
  color: #fbb12f;
}
.header-info .info-box p {
  color: #d4d4d4;
  line-height: 20px;
  margin: 0;
}
.header-info .info-box p.highlighted {
  color: #139ea0;
}
.header-info .info-box p.phone-number {
  font-size: 18px;
  font-style: italic;
}
.header-info .info-box .icon-box.no-border i {
  border: none;
}
.header-info .search-box-wrapper {
  position: relative;
  cursor: pointer;
}
.header-info .search-box-wrapper:hover i {
  border-color: transparent;
}
.header-info .search-box-wrapper:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}
.header-info .search-box-wrapper:hover .search-box-holder {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}
.header-info .search-box-wrapper:before {
  content: "";
  width: 72px;
  height: 105px;
  visibility: hidden;
  opacity: 0;
  background: #0f2233;
  position: absolute;
  top: -29px;
  right: 0;
  z-index: 9999;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-info .search-box-wrapper .icon-box {
  position: relative;
  z-index: 9999;
}
.header-info .search-box-wrapper .icon-box i {
  padding-left: 20px;
}
.header-info .search-box-wrapper .search-box-holder {
  position: absolute;
  right: 0;
  top: 100%;
  width: 350px;
  height: 60px;
  padding: 32px 0px 0px;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-info .search-box-wrapper .search-box-holder .search-box {
  background: #0f2233;
  padding: 20px 40px 20px 25px;
}
.header-info .search-box-wrapper .form {
  background: #10181f;
  width: 100%;
  height: 48px;
}
.header-info .search-box-wrapper .form input {
  padding-left: 30px;
  border: none;
  outline: none;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
  width: calc(100% - 55px);
  background-color: transparent;
}
.header-info .search-box-wrapper .form input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.header-info .search-box-wrapper .form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.header-info .search-box-wrapper .form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.header-info .search-box-wrapper .form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}
.header-info .search-box-wrapper .form input:placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: rgba(255, 255, 255, 0.5);
}
.header-info .search-box-wrapper .form button {
  position: relative;
  left: 2px;
  width: 50px;
  background: #fbb12f;
  color: #000000;
  font-size: 16px;
  padding: 11px 0px;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-info .search-box-wrapper .form button span {
  position: relative;
  z-index: 2;
}
.header-info .search-box-wrapper .form button:hover {
  background: #1fb5c7;
  color: #fff;
}
.header-info .search-box-wrapper .form button:hover i {
  color: inherit;
}
.header-info .search-box-wrapper .form button:hover:after {
  background: #1fb5c7;
}
.header-info .search-box-wrapper .form button i {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-info .search-box-wrapper .form button:after {
  background: #fbb12f;
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -15px;
  -webkit-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  transform: skew(-30deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* ==============================
  7. Header Menu styles
============================== */

.main-menu-wrapper {
  margin-top: -10px;
  margin-bottom: -55px;
  position: relative;
  width: 100%;
  /*background: #FBB12F;*/
  z-index: 9;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.main-menu-wrapper.stricky-fixed {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 9999;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fafafa+19,e2e2e2+69,d7d7d7+100 */
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #fafafa 19%,
    #e2e2e2 69%,
    #d7d7d7 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #fafafa 19%,
    #e2e2e2 69%,
    #d7d7d7 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d7d7d7', GradientType=0);
  /* IE6-9 */
}
.main-menu-wrapper.stricky-fixed .free-qoute-button {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-menu-wrapper.stricky-fixed .free-qoute-button:before {
  content: "";
  background: #05f7c2;
  right: 100%;
  width: 2500px;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-menu-wrapper.stricky-fixed .free-qoute-button:hover {
  background: #05f7c2;
}
.main-menu-wrapper.stricky-fixed .free-qoute-button:hover:before {
  background: #00ee8b;
}
.main-menu-wrapper.stricky-fixed .free-qoute-button:hover a {
  color: #fff;
}
.main-menu-wrapper .thm-container {
  position: relative;
}
.main-menu-wrapper .thm-container:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.main-menu-wrapper .free-qoute-button {
  background: #05f7c2;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-menu-wrapper .free-qoute-button:hover {
  background: #05f7c2;
}
.main-menu-wrapper .free-qoute-button:hover:before {
  background: #05f7c2;
}
.main-menu-wrapper .free-qoute-button:hover a {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-menu-wrapper .free-qoute-button:before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 80px;
  background: #05f7c2;
  height: 100%;
  -webkit-transform: skewx(-45deg);
  -ms-transform: skewx(-45deg);
  transform: skewx(-45deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-menu-wrapper .free-qoute-button:after {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 10px;
  background: #13314c;
  height: 100%;
  -webkit-transform: skewx(-45deg);
  -ms-transform: skewx(-45deg);
  transform: skewx(-45deg);
  z-index: 9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-menu-wrapper .free-qoute-button a {
  font-size: 18px;
  color: #c0c0c0;
  font-weight: bold;
  text-transform: uppercase;
  padding: 18px 30px 18px 28px;
  line-height: 29px;
  display: block;
  position: relative;
}
.main-menu-wrapper .free-qoute-button a:before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: -65px;
  right: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0;
}
.nav-holder {
  position: relative;
}
.nav-holder .nav-header {
  display: none;
  padding: 12px 20px;
}
.nav-holder .nav-header button {
  width: 40px;
  height: 40px;
  background: #0f2233;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
.nav-holder .nav-footer {
  display: block;
}
.nav-holder .nav-footer ul.nav > li {
  display: inline-block;
  line-height: 29px;
  padding: 18px 0;
  position: relative;
}
.nav-holder .nav-footer ul.nav > li:hover a,
.nav-holder .nav-footer ul.nav > li.active a {
  color: #07c4f3;
  background-color: transparent;
}
.nav-holder .nav-footer ul.nav > li:last-child > a {
  border: none;
  padding-right: 0;
}
.nav-holder .nav-footer ul.nav > li > a {
  padding: 0 17px;
  display: block;
  font-size: 16px;
  color: #242424;
  text-transform: uppercase;
  font-weight: bold;
  border-right: 1px dashed #bababa;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-holder .nav-footer ul.nav > li > ul.submenu {
  top: 100%;
  left: 0;
}
.nav-holder .nav-footer ul.nav > li > ul.submenu.align-right {
  right: 0;
  left: auto;
}
.nav-holder .nav-footer ul.nav > li:hover > ul.submenu {
  visibility: visible;
  opacity: 1;
}
.nav-holder .nav-footer ul.nav > li > ul.submenu > li > ul.submenu {
  top: 0;
  left: 100%;
}
.nav-holder .nav-footer ul.nav > li > ul.submenu > li > ul.submenu.align-right {
  right: 100%;
  left: auto;
}
.nav-holder .nav-footer ul.nav > li > ul.submenu > li:hover > ul.submenu {
  visibility: visible;
  opacity: 1;
}
.nav-holder .nav-footer ul.nav > li ul.submenu {
  position: absolute;
  width: 240px;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li {
  display: block;
  padding: 0;
  background: #d7d7d7;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li:last-child a {
  border-bottom: 0;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li:last-child a:after {
  display: none;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li:hover > a {
  color: #2b80ff;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li a {
  color: #242424;
  font-family: "Open Sans", sans-serif;
  padding: 7px 26px;
  border-bottom: 1px solid #f3f5f7;
  position: relative;
  display: block;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li a:before {
  content: "\f105";
  font-family: "FontAwesome";
  margin-right: 10px;
  font-size: 12px;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #c5c5c5;
}
.nav-footer ul.nav li.has-submenu > a > button {
  display: none;
}

.main-menu-wrapper.full-width {
  background: #fbb12f;
  margin-top: 0;
  margin-bottom: 0;
}
.main-menu-wrapper.full-width.stricky-fixed {
  top: 0;
}
.main-menu-wrapper.full-width .free-qoute-button a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2000px;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fafafa+19,e2e2e2+69,d7d7d7+100 */
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #fafafa 19%,
    #e2e2e2 69%,
    #d7d7d7 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #fafafa 19%,
    #e2e2e2 69%,
    #d7d7d7 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d7d7d7', GradientType=0);
  /* IE6-9 */
}

/* ==============================
  8. Header Two styles
============================== */

#header2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 0 40px;
}
#header2.stricky-fixed {
  background: #13314c;
  border-color: #13314c;
}
#header2.stricky-fixed .nav-holder .nav-footer ul.nav > li {
  padding: 20px 0;
}
#header2.stricky-fixed .logo {
  padding: 10px 0;
}
#header2.stricky-fixed .logo img {
  width: 85%;
}
#header2 .logo {
  padding: 26px 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}
#header2 .nav-holder .nav-footer ul.nav > li {
  padding: 38px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header2 .nav-holder .nav-footer ul.nav > li:last-child > a {
  padding-right: 0;
}
#header2 .nav-holder .nav-footer ul.nav > li > a {
  color: #ffffff;
  font-size: 15px;
  border: none;
  padding: 0 14px;
}

/* ==============================
  9. Header Three styles
============================== */

#header3.stricky-fixed {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
#header3.stricky-fixed .nav-holder .nav-footer ul.nav > li {
  padding: 20px 0;
}
#header3.stricky-fixed .logo {
  padding: 10px 0;
}
#header3.stricky-fixed .logo img {
  width: 85%;
}
#header3 .logo {
  padding: 21px 0;
}
#header3 .nav-holder .nav-footer ul.nav > li {
  padding: 33px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header3 .nav-holder .nav-footer ul.nav > li:last-child > a {
  padding-right: 0;
}
#header3 .nav-holder .nav-footer ul.nav > li > a {
  color: #292929;
  font-size: 15px;
  border: none;
  padding: 0 14px;
}
