
h3{color: #32CD32;}              /* for all h3*/
h4{color: maroon;}                           /* for all h4*/
body {background-color: Black;}      /* for entire body*/
p,li{color: white;}                   /* for scheme matter and lists*/
h2{color: white;font-size: 50px;text-align: center;}
h1{opacity: 0.8;

}

a{  color: darkblue}
a:hover{color: red;
      text-decoration: none;}

.header{
  padding: 10px;

  background-color: #000000;
  text-align: initial;
  color: white;

}     
.article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

.entire{
  padding: 0px;
  border:  0px solid black;
  margin-left:  100px;
  margin-right: 100px;
  color: whitesmoke;
}

.boxx{
  border: 4px solid #32CD32;
  border-radius: 10px;
  padding-left: 20px ;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #10151b;
  

}

.top{
  color: white;
  background-image: url(../img/i1.jpeg);
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  text-align: center;
  color: white;

}



.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}


.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}


.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}


.centered {
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-size: 55px;


}
.centered2 {
  position: absolute;
  top: 70%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-indent: initial;
  font-size: 25px;


}

.centered3 {
  position: absolute;
  top: 164%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-indent: initial;
  font-size: 25px;

  
}
.centered4 {
  position: absolute;
  top: 164%;
  left: 58%;
  transform: translate(-50%, -50%);
  text-indent: initial;
  font-size: 25px;

  
}
.centered5 {
  position: absolute;
  top: 164%;
  left: 81%;
  transform: translate(-50%, -50%);
  text-indent: initial;
  font-size: 25px;

  
}
.centered6 {
  position: absolute;
  top: 201%;
  left: 22%;
  transform: translate(-50%, -50%);
  text-indent: initial;
  font-size: 25px;

  
}
.centered7 {
  position: absolute;
  top: 201%;
  left: 46%;
  transform: translate(-50%, -50%);
  text-indent: initial;
  font-size: 25px;

  
}
.centered8 {
  position: absolute;
  top: 201%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-indent: initial;
  font-size: 25px;

  
}









/********************* gallery_main ****************/
#gallery_main{ 
  background-image: url(../img/49.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }
.gallery_main{ 
    padding-bottom: 150px;
    padding-top: 150px;
    background: #000000ab;
 }
.gallery_main_1 h2{ 
    color: #1a9449;
    font-size: 50px;
    font-weight: bold;
 }
.gallery_main_1 p{ 
    color: #adccb9;
    font-size: 25px;
  margin-top:15px;
 }
.gallery_main_1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
/********************* gallery_main_end ****************/
/********************* gallery ****************/
#gallery{ 
    padding-top:30px;
  padding-bottom:30px;
  }
.gallery_main h1{ 
  font-size:48px;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-family:"Courier New", Courier, monospace;
  padding-bottom:20px;
        }
.gallery_1{
  margin-bottom: 30px;

}
.gallery_main_2 h1{ 
    font-size:50px;
    padding-top:0px;
    padding-bottom:20px;  
  }
#gallery .ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#gallery .ih-item,
#gallery .ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#gallery .ih-item a {
  color: #333;
}
#gallery .ih-item a:hover {
  text-decoration: none;
}
#gallery .ih-item img {
  width: 100%;
  height: 100%;
}

#gallery .ih-item.square {
  position: relative;
  width: 336px;
  height: 246px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#gallery .ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#gallery .ih-item.square.effect5.colored .info {
  background: #1a4a72;
}
#gallery .ih-item.square.effect5.colored .info h3 {
  background: rgba(12, 34, 52, 0.6);
}
#gallery .ih-item.square.effect5 .img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#gallery .ih-item.square.effect5 .info {
  background: #333333;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#gallery .ih-item.square.effect5 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  background: #111111;
  margin: 30px 0 0 0;
}
#gallery .ih-item.square.effect5 .info p {
  font-style: italic;
  font-size: 26px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
}
#gallery .ih-item.square.effect5 a:hover .img {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
#gallery .ih-item.square.effect5 a:hover .info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#gallery .ih-item.square.effect5.left_to_right .info {
  -webkit-transform: scale(0) rotate(-180deg);
  -moz-transform: scale(0) rotate(-180deg);
  -ms-transform: scale(0) rotate(-180deg);
  -o-transform: scale(0) rotate(-180deg);
  transform: scale(0) rotate(-180deg);
}

#gallery .ih-item.square.effect5.right_to_left .info {
  -webkit-transform: scale(0) rotate(180deg);
  -moz-transform: scale(0) rotate(180deg);
  -ms-transform: scale(0) rotate(180deg);
  -o-transform: scale(0) rotate(180deg);
  transform: scale(0) rotate(180deg);
}
#gallery .ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#gallery .ih-item,
#gallery .ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#gallery .ih-item a {
  color: #333;
}
#gallery .ih-item a:hover {
  text-decoration: none;
}
#gallery .ih-item img {
  width: 100%;
  height: 100%;
}

#gallery .ih-item.square {
  position: relative;
  width: 316px;
  height: 226px;
  border: 8px solid #32CD32;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#gallery .ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#gallery .ih-item.square.effect15 {
  overflow: hidden;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
}
#gallery .ih-item.square.effect15.colored .info {
  background: #1a4a72;
}
#gallery .ih-item.square.effect15 .img {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#gallery .ih-item.square.effect15 .info {
  background: #333333;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out 0.3s;
  -moz-transition: all 0.35s ease-in-out 0.3s;
  transition: all 0.35s ease-in-out 0.3s;
}
#gallery .ih-item.square.effect15 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111111;
  margin: 30px 0 0 0;
}
#gallery .ih-item.square.effect15 .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
}
#gallery .ih-item.square.effect15 a:hover .img {
  opacity: 0;
  visibility: hidden;
}
#gallery .ih-item.square.effect15 a:hover .info {
  visibility: visible;
  opacity: 1;
}

#gallery .ih-item.square.effect15.left_to_right .img {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
#gallery .ih-item.square.effect15.left_to_right .info {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
#gallery .ih-item.square.effect15.left_to_right a:hover .img {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
#gallery .ih-item.square.effect15.left_to_right a:hover .info {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

#gallery .ih-item.square.effect15.right_to_left .img {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
#gallery .ih-item.square.effect15.right_to_left .info {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
#gallery .ih-item.square.effect15.right_to_left a:hover .img {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
#gallery .ih-item.square.effect15.right_to_left a:hover .info {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

#gallery .ih-item.square.effect15.top_to_bottom .img {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
#gallery .ih-item.square.effect15.top_to_bottom .info {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
#gallery .ih-item.square.effect15.top_to_bottom a:hover .img {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
#gallery .ih-item.square.effect15.top_to_bottom a:hover .info {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

#gallery .ih-item.square.effect15.bottom_to_top .img {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
#gallery .ih-item.square.effect15.bottom_to_top .info {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
#gallery .ih-item.square.effect15.bottom_to_top a:hover .img {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
#gallery .ih-item.square.effect15.bottom_to_top a:hover .info {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}
/********************* gallery_end ****************/


@media screen and (max-width : 767px){
.gallery_main {
    padding-bottom: 50px;
    padding-top: 50px;
}
#gallery .ih-item.square {
    width: 100%;
    height: 100%;
}
.gallery_main_2 h1 {
    padding-top: 0px;
}
}
.top{
  color: white;
  background-image: url(../images/i1.jpeg);
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  text-align: center;
  color: white;

} 


@media (min-width:470px) and (max-width:767px) { 
}
 
@media (min-width:768px) and (max-width:960px) { 
.gallery_main {
    padding-bottom: 50px;
    padding-top: 50px;
}
#gallery .ih-item.square {
    width: 100%;
    height: 100%;
}
} 

 
@media (min-width:961px) and (max-width:1200px) {
.gallery_main {
    padding-bottom: 50px;
    padding-top: 50px;
}
#gallery .ih-item.square {
    width: 100%;
    height: 100%;
}
}

@media (min-width:1201px) and (max-width:1320px) {

}
/* ==============================
  6. header styles
============================== */

#header {
  background: #2F2F2A;
  padding: 35px 0;
  position: relative;
}
#header .logo {
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
          
width: 100%;
text-align: center;
display: inline-block;
}
#header .header-info {
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}
#header .thm-container {
  position: relative;
  z-index: 99;
}
#header:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  bottom: 8px;
  right: 0;

  background: #13314c url(../images/vi.jpeg) center center no-repeat;
  background-size: cover;
}
   /*background-color: #0cafd2;*/
}
#header:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  bottom: 9px;
  right: 0;
  /*background-color: #0cafd2;*/
 background: #13314c url(../images/14.png) center center no-repeat;
  background-size: cover;
}
.header-info {
  padding: 4px 0;
}
.header-info .info-box {
  display: table-cell;
  vertical-align: middle;
  padding-right: 30px;
}
.header-info .info-box:last-child {
  padding-right: 0;
}
.header-info .info-box .icon-box,
.header-info .info-box .text-box {
  display: table-cell;
  vertical-align: middle;
}
.header-info .info-box .icon-box {
  padding-right: 20px;
}
.header-info .info-box .icon-box i {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  top: 5px;
  border-left: 1px solid #435A6E;
  padding-left: 30px;
}
.header-info .info-box .icon-box i:before {
  margin: 0;
  font-size: 30px;
}
.header-info .info-box .social-icons {
  font-size: 0;
  margin-left: -7.5px;
  margin-right: -7.5px;
  line-height: 6px;
  margin-top: 5px;
}
.header-info .info-box .social-icons li {
  display: inline-block;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.header-info .info-box .social-icons li a {
  display: block;
  font-size: 15px;
  color: #D4D4D4;
}
.header-info .info-box .social-icons li a:hover {
  color: #FBB12F;
}
.header-info .info-box p {
  color: #D4D4D4;
  line-height: 20px;
  margin: 0;
}
.header-info .info-box p.highlighted {
  color: #139EA0;
}
.header-info .info-box p.phone-number {
  font-size: 18px;
  font-style: italic;
}
.header-info .info-box .icon-box.no-border i {
  border: none;
}
.header-info .search-box-wrapper {
  position: relative;
  cursor: pointer;
}
.header-info .search-box-wrapper:hover i {
  border-color: transparent;
}
.header-info .search-box-wrapper:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s ease .3s;
          transition: all .3s ease .3s;
}
.header-info .search-box-wrapper:hover .search-box-holder {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .3s ease .3s;
          transition: all .3s ease .3s;
}
.header-info .search-box-wrapper:before {
  content: '';
  width: 72px;
  height: 105px;
  visibility: hidden;
  opacity: 0;
  background: #0F2233;
  position: absolute;
  top: -29px;
  right: 0;
  z-index: 9999;
  -webkit-transition: all .3s ease .0s;
          transition: all .3s ease .0s;
}
.header-info .search-box-wrapper .icon-box {
  position: relative;
  z-index: 9999;
}
.header-info .search-box-wrapper .icon-box i {
  padding-left: 20px;
}
.header-info .search-box-wrapper .search-box-holder {
  position: absolute;
  right: 0;
  top: 100%;
  width: 350px;
  height: 60px;
  padding: 32px 0px 0px;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease .0s;
          transition: all .3s ease .0s;
}
.header-info .search-box-wrapper .search-box-holder .search-box {
  background: #0F2233;
  padding: 20px 40px 20px 25px;
}
.header-info .search-box-wrapper .form {
  background: #10181F;
  width: 100%;
  height: 48px;
}
.header-info .search-box-wrapper .form input {
  padding-left: 30px;
  border: none;
  outline: none;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
  width: calc(100% - 55px);
  background-color: transparent;
}
.header-info .search-box-wrapper .form input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.header-info .search-box-wrapper .form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.header-info .search-box-wrapper .form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.header-info .search-box-wrapper .form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}
.header-info .search-box-wrapper .form input:placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: rgba(255, 255, 255, 0.5);
}
.header-info .search-box-wrapper .form button {
  position: relative;
  left: 2px;
  width: 50px;
  background: #FBB12F;
  color: #000000;
  font-size: 16px;
  padding: 11px 0px;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.header-info .search-box-wrapper .form button span {
  position: relative;
  z-index: 2;
}
.header-info .search-box-wrapper .form button:hover {
  background: #1FB5C7;
  color: #fff;
}
.header-info .search-box-wrapper .form button:hover i {
  color: inherit;
}
.header-info .search-box-wrapper .form button:hover:after {
  background: #1FB5C7;
}
.header-info .search-box-wrapper .form button i {
  position: relative;
  z-index: 2;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.header-info .search-box-wrapper .form button:after {
  background: #FBB12F;
  content: '';
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -15px;
  -webkit-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  transform: skew(-30deg);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}

/* ==============================
  7. Header Menu styles
============================== */


.main-menu-wrapper {
  margin-top: -10px;
  margin-bottom: -55px;
  position: relative;width: 100%;
  /*background: #FBB12F;*/
  z-index: 9;
  -webkit-transition: background .5s ease;
          transition: background .5s ease;
}
.main-menu-wrapper.stricky-fixed {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 9999;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fafafa+19,e2e2e2+69,d7d7d7+100 */
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 19%, #e2e2e2 69%, #d7d7d7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #fafafa 19%, #e2e2e2 69%, #d7d7d7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d7d7d7', GradientType=0)
  /* IE6-9 */
}
.main-menu-wrapper.stricky-fixed .free-qoute-button {
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.main-menu-wrapper.stricky-fixed .free-qoute-button:before {
  content: '';
  background: #5cf503;
  right: 100%;
  width: 2500px; 
  top: 0;
  height: 100%;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.main-menu-wrapper.stricky-fixed .free-qoute-button:hover {
  background: #1ff503;
}
.main-menu-wrapper.stricky-fixed .free-qoute-button:hover:before {
  background: #00ee8b;
}
.main-menu-wrapper.stricky-fixed .free-qoute-button:hover a {
  color: #fff;
}
.main-menu-wrapper .thm-container {
  position: relative;
}
.main-menu-wrapper .thm-container:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.main-menu-wrapper .free-qoute-button {
  background:#95d500;
  position: relative;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.main-menu-wrapper .free-qoute-button:hover {
  background:#55d500;
}
.main-menu-wrapper .free-qoute-button:hover:before {
  background:#00d512;
}
.main-menu-wrapper .free-qoute-button:hover a {
  color: #fff;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.main-menu-wrapper .free-qoute-button:before {
  content: '';
  position: absolute;
  left: -32px;
  top: 0;
  width: 80px;
  background: #55d500;
  height: 100%;
  -webkit-transform: skewx(-45deg);
      -ms-transform: skewx(-45deg);
          transform: skewx(-45deg);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.main-menu-wrapper .free-qoute-button:after {
  content: '';
  position: absolute;
  left: -32px;
  top: 0;
  width: 10px;
  background: #13314C;
  height: 100%;
  -webkit-transform: skewx(-45deg);
      -ms-transform: skewx(-45deg);
          transform: skewx(-45deg);
  z-index: 9;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.main-menu-wrapper .free-qoute-button a {
  font-size: 18px;
  color: #C0C0C0;
  font-weight: bold;
  text-transform: uppercase;
  padding: 18px 30px 18px 28px;
  line-height: 29px;
  display: block;
  position: relative;
}
.main-menu-wrapper .free-qoute-button a:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: -65px;
  right: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0;
}
.nav-holder {
  position: relative;
}
.nav-holder .nav-header {
  display: none;
  padding: 12px 20px;
}
.nav-holder .nav-header button {
  width: 40px;
  height: 40px;
  background: #0F2233;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
.nav-holder .nav-footer {
  display: block;
}
.nav-holder .nav-footer ul.nav > li {
  display: inline-block;
  line-height: 29px;
  padding: 18px 0;
  position: relative;
}
.nav-holder .nav-footer ul.nav > li:hover a,
.nav-holder .nav-footer ul.nav > li.active a {
  color: #07c4f3;
  background-color: transparent;
}
.nav-holder .nav-footer ul.nav > li:last-child > a {
  border: none;
  padding-right: 0;
}
.nav-holder .nav-footer ul.nav > li > a {
  padding: 0 17px;
  display: block;
  font-size: 16px;
  color: #242424;
  text-transform: uppercase;
  font-weight: bold;
  border-right: 1px dashed #BABABA;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.nav-holder .nav-footer ul.nav > li > ul.submenu {
  top: 100%;
  left: 0;
}
.nav-holder .nav-footer ul.nav > li > ul.submenu.align-right {
  right: 0;
  left: auto;
}
.nav-holder .nav-footer ul.nav > li:hover > ul.submenu {
  visibility: visible;
  opacity: 1;
}
.nav-holder .nav-footer ul.nav > li > ul.submenu > li > ul.submenu {
  top: 0;
  left: 100%;
}
.nav-holder .nav-footer ul.nav > li > ul.submenu > li > ul.submenu.align-right {
  right: 100%;
  left: auto;
}
.nav-holder .nav-footer ul.nav > li > ul.submenu > li:hover > ul.submenu {
  visibility: visible;
  opacity: 1;
}
.nav-holder .nav-footer ul.nav > li ul.submenu {
  position: absolute;
  width: 240px;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li {
  display: block;
  padding: 0;
  background: #D7D7D7;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li:last-child a {
  border-bottom: 0;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li:last-child a:after {
  display: none;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li:hover > a {
  color: #2b80ff;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li a {
  color: #242424;
  font-family: 'Open Sans', sans-serif;
  padding: 7px 26px;
  border-bottom: 1px solid #F3F5F7;
  position: relative;
  display: block;
  font-weight: 500;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li a:before {
  content: '\f105';
  font-family: 'FontAwesome';
  margin-right: 10px;
  font-size: 12px;
}
.nav-holder .nav-footer ul.nav > li ul.submenu li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #C5C5C5;
}
.nav-footer ul.nav li.has-submenu > a > button {
  display: none;
}





.main-menu-wrapper.full-width {
  background: #FBB12F;
  margin-top: 0;
  margin-bottom: 0;
}
.main-menu-wrapper.full-width.stricky-fixed {top:0;}
.main-menu-wrapper.full-width .free-qoute-button a:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 2000px;
  height: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fafafa+19,e2e2e2+69,d7d7d7+100 */
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 19%, #e2e2e2 69%, #d7d7d7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #fafafa 19%, #e2e2e2 69%, #d7d7d7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d7d7d7', GradientType=0)
  /* IE6-9 */
}





/* ==============================
  8. Header Two styles
============================== */

#header2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 0 40px;
}
#header2.stricky-fixed {
  background: #13314C;
  border-color: #13314C;
}
#header2.stricky-fixed .nav-holder .nav-footer ul.nav > li {
  padding: 20px 0;
}
#header2.stricky-fixed .logo {
  padding: 10px 0;
  
}
#header2.stricky-fixed .logo img {
  width: 85%;

}
#header2 .logo {
  padding: 26px 0;
  width: 100%;
  display: inline-block;
  text-align: center;
  
}
#header2 .nav-holder .nav-footer ul.nav > li {
  padding: 38px 0;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
#header2 .nav-holder .nav-footer ul.nav > li:last-child > a {
  padding-right: 0;
}
#header2 .nav-holder .nav-footer ul.nav > li > a {
  color: #FFFFFF;
  font-size: 15px;
  border: none;
  padding: 0 14px;
}


/* ==============================
  9. Header Three styles
============================== */

#header3.stricky-fixed {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
#header3.stricky-fixed .nav-holder .nav-footer ul.nav > li {
  padding: 20px 0;
}
#header3.stricky-fixed .logo {
  padding: 10px 0;
}
#header3.stricky-fixed .logo img {
  width: 85%;
}
#header3 .logo {
  padding: 21px 0;
}
#header3 .nav-holder .nav-footer ul.nav > li {
  padding: 33px 0;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
#header3 .nav-holder .nav-footer ul.nav > li:last-child > a {
  padding-right: 0;
}
#header3 .nav-holder .nav-footer ul.nav > li > a {
  color: #292929;
  font-size: 15px;
  border: none;
  padding: 0 14px;
}
